<html>
    <head>
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *"
        />

        <title>test</title>
    </head>

    <body>
        <div>
            This is a sample page :)
        </div>
    </body>
</html>
